<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test RealWorld " parallel="tests" thread-count="10">
    <test name="Web Test" parallel="false">
<!--        <parameter name="browserType" value="macOS_chrome"></parameter>-->
        <parameter name="browserType" value="win10_chrome"></parameter>
         <classes>
            <class name="testRunner.TestRunner"/>
        </classes>
    </test>
</suite>